<!--
* Author: Openkava 
* Description: 生成数据编辑界面  This template will generate standard Label and TextBox Form by   
*   database table.
-->

 <table class="table table-striped  table-hover  table-bordered  table-condensed">
    <thead>
      <tr>
        
        
        <th>cm_CustomerID  客户ID</th>
        
        <th>cm_FullName  客户名称</th>
        
        <th>cm_ShortName  客户简称</th>
        
        <th>cm_Pinyin  助记码</th>
        
        <th>cm_IsActive  是否有效</th>
        
        <th>cm_OldFullName  旧名称</th>
        
        <th>RemarkCount  备注条数</th>
        
        <th>cm_BusinessCount  客户业务数量</th>
         
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>
